In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Crop_recommendation.csv")

In [3]:
dataset

        N   P   K  temperature   humidity        ph    rainfall    Crop
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [4]:
dataset.values

array([[90, 42, 43, ..., 6.502985292, 202.9355362, 'rice'],
       [85, 58, 41, ..., 7.038096361, 226.6555374, 'rice'],
       [60, 55, 44, ..., 7.840207144, 263.9642476, 'rice'],
       ...,
       [118, 33, 30, ..., 6.362607851, 173.3228386, 'coffee'],
       [117, 32, 34, ..., 6.758792552, 127.1752928, 'coffee'],
       [104, 18, 30, ..., 6.779832611, 140.9370415, 'coffee']],
      dtype=object)

In [ ]:
#BUBBLE SORT ALGO

for j in range(len(data1)-2):
    for i in range(len(data1)-1-j):
        #print(i)
        if (data1[i]>data1[i+1]):
            t=data1[i]
            data1[i]=data1[i+1]
            data1[i+1]=

In [7]:
#RANGE CODE


stores=[]
for i in range(len(dataset["Crop"])) :#0,1,.....2200
    if dataset["Crop"][i]=='rice':
        #print('we found rice',i)
        store=dataset[i:i+1]
        #print(store)
        #print(store['N'])
        nitrogen=str(int(store['N'])).split()
        stores+=nitrogen
for k in range(len(stores)):
    stores[k]=int(stores[k])
for j in range(len(stores)-2):
    for i in range(len(stores)-1-j):
        #print(i)
        if (stores[i]>stores[i+1]):
            t=stores[i]
            stores[i]=stores[i+1]
            stores[i+1]=t
print("range of rice is :{}-{}".format( stores[0],stores[-1]))

range of rice is :60-99

In [3]:
stores=[]
stores1=[]
stores2=[]
stores3=[]
stores4=[]
stores5=[]
stores6=[]
#TO SELECT ALL ROWS WITH RICE AS CROP
for i in range(len(dataset["Crop"])) :#0,1,.....2200
    if dataset["Crop"][i]=='rice':
        #store is a variable which stores all rows o
        store=dataset[i:i+1]
        nitrogen=str(int(store['N'])).split()
        phosphorous=str(int(store['P'])).split()
        potassium=str(int(store['K'])).split()
        temperature=str(float(store['temperature'])).split()
        humidity=str(float(store['humidity'])).split()
        ph=str(float(store['ph'])).split()
        rainfall=str(float(store['rainfall'])).split()
        stores+=nitrogen
        stores1+=phosphorous
        stores2+=potassium
        stores3+=temperature
        stores4+=humidity
        stores5+=ph
        stores6+=rainfall
        
        


def Nitrogen():      
    #TO CONVERT VALUES IN INTEGER FOR NITROGEN
    for k in range(len(stores)):
        stores[k]=int(stores[k])
        
    #SORTING TO GET RANGE  FOR NITROGEN  
    for j in range(len(stores)-2):
        for i in range(len(stores)-1-j):
            #print(i)
            if (stores[i]>stores[i+1]):
                t=stores[i]
                stores[i]=stores[i+1]
                stores[i+1]=t
    print("range of nitrogen value of rice is :{}-{}".format( stores[0],stores[-1]))


def Phosphorous(): 
    #TO CONVERT VALUES IN INTEGER FOR PHOSPHOROUS
    for k in range(len(stores1)):
        stores1[k]=int(stores1[k])
        
    #SORTING TO GET RANGE  FOR PHOSPHOROUS  
    for j in range(len(stores1)-2):
        for i in range(len(stores1)-1-j):
            #print(i)
            if (stores1[i]>stores1[i+1]):
                t=stores1[i]
                stores1[i]=stores1[i+1]
                stores1[i+1]=t
    print("range of phosphorous value of rice is :{}-{}".format( stores1[0],stores1[-1]))
    
    

def Potassium():    
    #TO CONVERT VALUES IN INTEGER FOR POTASSIUM
    for k in range(len(stores2)):
        stores2[k]=int(stores2[k])
        
    #SORTING TO GET RANGE  FOR POTASSIUM 
    for j in range(len(stores2)-2):
        for i in range(len(stores2)-1-j):
            #print(i)
            if (stores2[i]>stores2[i+1]):
                t=stores2[i]
                stores2[i]=stores2[i+1]
                stores2[i+1]=t
    print("range of potassium value of rice is :{}-{}".format( stores2[0],stores2[-1]))
    
    


    
def Temperature():
    #TO CONVERT VALUES IN FLOAT FOR TEMPERATURE
    for k in range(len(stores3)):
        stores3[k]=float(stores3[k])
        
    #SORTING TO GET RANGE  FOR TEMPERATURE 
    for j in range(len(stores3)-2):
        for i in range(len(stores3)-1-j):
            #print(i)
            if (stores3[i]>stores3[i+1]):
                t=stores3[i]
                stores3[i]=stores3[i+1]
                stores3[i+1]=t
    print("range of temperature value of rice is :{}-{}".format( stores3[0],stores3[-1]))
    
    
    
    


def Humidity():
    #TO CONVERT VALUES IN FLOAT FOR HUMIDITY
    for k in range(len(stores4)):
        stores4[k]=float(stores4[k])
    
    #SORTING TO GET RANGE  FOR PH  
    for j in range(len(stores5)-2):
        for i in range(len(stores5)-1-j):
            #print(i)
            if (stores5[i]>stores5[i+1]):
                t=stores5[i]
                stores5[i]=stores5[i+1]
                stores5[i+1]=t
    print("range of ph value of rice is :{}-{}".format( stores5[0],stores5[-1]))

        
        
def Ph():
    #TO CONVERT VALUES IN FLOAT FOR PH
    for k in range(len(stores5)):
        stores5[k]=float(stores5[k])
    #SORTING TO GET RANGE  FOR PH  
    for j in range(len(stores5)-2):
        for i in range(len(stores5)-1-j):
            #print(i)
            if (stores5[i]>stores5[i+1]):
                t=stores5[i]
                stores5[i]=stores5[i+1]
                stores5[i+1]=t
    print("range of ph value of rice is :{}-{}".format( stores5[0],stores5[-1]))

        
        

def Rainfall():
    #TO CONVERT VALUES IN FLOAT FOR RAINFALL
    for k in range(len(stores6)):
        stores6[k]=float(stores6[k])

    #SORTING TO GET RANGE  FOR RAINFALL  
    for j in range(len(stores6)-2):
        for i in range(len(stores6)-1-j):
            #print(i)
            if (stores6[i]>stores6[i+1]):
                t=stores6[i]
                stores6[i]=stores6[i+1]
                stores6[i+1]=t
    print("range of rainfall value of rice is :{}-{}".format( stores6[0],stores6[-1]))

In [ ]:
det=input()
if det=='rice':
    Nitrogen()

In [9]:
Nitrogen()

range of nitrogen value of rice is :60-99

In [11]:
Phosphorous()

range of phosphorous value of rice is :35-60

In [13]:
Potassium()

range of potassium value of rice is :35-45

In [14]:
Temperature()

range of temperature value of rice is :20.0454142-26.92995077

In [15]:
Humidity()

range of ph value of rice is :5.005306977-7.868474653

In [17]:
Ph()

range of ph value of rice is :5.005306977-7.868474653

In [21]:
Rainfall()

range of rainfall value of rice is :182.5616319-298.5601175

In [20]:
#first attempt for writing this code

stores=[]
for i in range(len(dataset["Crop"])) :#0,1,.....2200
    if dataset["Crop"][i]=='rice':
        #print('we found rice',i)
        store=dataset[i:i+1]
        #print(store)
        #print(store['N'])
        nitrogen=str(int(store['N'])).split()
        stores+=nitrogen
for k in range(len(stores)):
    stores[k]=int(stores[k])
for j in range(len(stores)-2):
    for i in range(len(stores)-1-j):
        #print(i)
        if (stores[i]>stores[i+1]):
            t=stores[i]
            stores[i]=stores[i+1]
            stores[i+1]=t
print("range of rice is :{}-{}".format( stores[0],stores[-1]))

In [21]:
for k in range(len(stores1)):
    stores1[k]=int(stores1[k])

In [ ]:
#SOME USER DEFINE FUNCTIONS



#SORTING TO GET RANGE  FOR NITROGEN  
for j in range(len(stores)-2):
    for i in range(len(stores)-1-j):
        #print(i)
        if (stores[i]>stores[i+1]):
            t=stores[i]
            stores[i]=stores[i+1]
            stores[i+1]=t
print("range of nitrogen value of rice is :{}-{}".format( stores[0],stores[-1]))

#SORTING TO GET RANGE  FOR PHOSPHOROUS  
for j in range(len(stores1)-2):
    for i in range(len(stores1)-1-j):
        #print(i)
        if (stores1[i]>stores1[i+1]):
            t=stores1[i]
            stores1[i]=stores1[i+1]
            stores1[i+1]=t
print("range of phosphorous value of rice is :{}-{}".format( stores1[0],stores1[-1]))


#SORTING TO GET RANGE  FOR POTASSIUM 
for j in range(len(stores2)-2):
    for i in range(len(stores2)-1-j):
        #print(i)
        if (stores2[i]>stores2[i+1]):
            t=stores2[i]
            stores2[i]=stores2[i+1]
            stores2[i+1]=t
print("range of potassium value of rice is :{}-{}".format( stores2[0],stores2[-1]))

#SORTING TO GET RANGE  FOR TEMPERATURE 
for j in range(len(stores3)-2):
    for i in range(len(stores3)-1-j):
        #print(i)
        if (stores3[i]>stores3[i+1]):
            t=stores3[i]
            stores3[i]=stores3[i+1]
            stores3[i+1]=t
print("range of temperature value of rice is :{}-{}".format( stores3[0],stores3[-1]))

#SORTING TO GET RANGE  FOR HUMIDITY  
for j in range(len(stores4)-2):
    for i in range(len(stores4)-1-j):
        #print(i)
        if (stores4[i]>stores4[i+1]):
            t=stores4[i]
            stores4[i]=stores4[i+1]
            stores4[i+1]=t
print("range of humidity value of rice is :{}-{}".format( stores4[0],stores4[-1]))

#SORTING TO GET RANGE  FOR PH  
for j in range(len(stores5)-2):
    for i in range(len(stores5)-1-j):
        #print(i)
        if (stores5[i]>stores5[i+1]):
            t=stores5[i]
            stores5[i]=stores5[i+1]
            stores5[i+1]=t
print("range of ph value of rice is :{}-{}".format( stores5[0],stores5[-1]))

#SORTING TO GET RANGE  FOR RAINFALL  
for j in range(len(stores6)-2):
    for i in range(len(stores6)-1-j):
        #print(i)
        if (stores6[i]>stores6[i+1]):
            t=stores6[i]
            stores6[i]=stores6[i+1]
            stores6[i+1]=t
print("range of rainfall value of rice is :{}-{}".format( stores6[0],stores6[-1]))